body {
  background-color: rgb(255, 222, 89);
}

.container {
  width: 30%;
  display: inline;
  background-color: white;
  text-align: center;
  height: 500px;
  border: 1px solid rgb(150, 150, 150);
}

.container > div {
  text-align: center;
  display: inline;
  background-color: white;
}
