*{
    margin: 0;
    padding: 0;
}

#main-header{
    display: grid;
    grid-template-columns: 4fr repeat(4, 1.5fr) repeat(2, 0.5fr) 1fr;
    padding: 20px 0px 0px 0px ;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    justify-content: center;
    align-items: center;
}

a{
    color: black;
    text-decoration: none;
}

button{
    margin-right: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    color: rgb(227, 148, 163);
    background-color: white;
    border-radius: 12px;
    padding: 15px 15px;
    border: 2px solid rgb(227, 148, 163);
}

#title{
    margin-top: 5%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 150%;
}

#title > div{
    border-radius: 20px;
    margin: 0 auto;
    width: 120px;
    height: 5px;
    background-color: #f2bd31;
}